body {
  margin: 0;
  padding: 0;
}

.site-header {
  padding-top: 15px;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-haeder__right-port {
  display: flex;
  min-width: auto;
  margin-left: auto;
}

.site-header__to-announce {
  text-decoration: none;
  color: #fff;
  background-color: rgb(52, 120, 221);
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 200px;
}

.site-heder_language-btn {
  border: none;
  background: none;
  background-color: rgb(93, 93, 226);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}



.intro {
  margin-top: 50px;

}

.intro__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__input {
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #999;
  width: 650px;
  display: block;
  outline: none;
}

.intro__signUP {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  background-color: rgb(226, 238, 252);
  padding: 10px 15px;
  border-radius: 5px;
}

.intro__search-sections {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.intro__search-section {
  background-color: rgb(227, 237, 248);
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  /* min-height: 220px; */
}

.intro__search-section a {
  display: flex;
  flex-direction: column;
  margin-right: auto; 
  margin-left: auto;
  width: 100%;
  /* height: 100%; */
  /* background-color: #123; */
  align-items: center;
  padding: 50px 0;
}

.intro__search-section a img {
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
}

.intro__section-link {
  text-decoration: none;
}

.intro__section-text {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin: 0;
}